/*doc
---
title: Book Item
name: book-item
category: books
---
```html_example
  <ul>
    <li class='book-item'>
      <span class="title">Book Title</span>
      <span class="authors">Jane Doe</span>
    </li>
  </ul>
```
*/

.book-item{
  transition: .2s background-color,
              .2s box-shadow,
              .1s padding;

  .book-details{
    width: 80%;
    display: inline-block;
    vertical-align: middle;
  }

  .title{
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
    cursor: pointer;
  }
  .authors{
    font-style: italic;
  }

  .control{
    vertical-align: top;
    text-align: right;
    display: inline-block;
    z-index: 1;
    float: right;

    .edit, .delete, .view{
      width: 2rem;
      cursor: pointer;
    }
  }

  &.editing{
    @include inset();
    border-style: dashed;

    .edit{
      color: $confirm-color;
    }
  }

  &.viewing{
    @include inset(lighten($inset-color, 7%));
  }

  &.hidden{
    display: none;
  }

  .reviews{
    font-size: .9rem;
    h1{
      font-size: 1rem;
    }

    ul{
      list-style: none;
      padding: 0;
    }

    li{
      padding: 0;
    }
    .author{
      font-style: italic;
    }
  }
}
