input[type="text"],
input[type="search"]{
  vertical-align: top;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  padding: .1rem .5rem;

  .search &{
    line-height: 2.125rem;
    width: 75%;
  }
}

.search{
  position: relative;
  width: 100%;

  .search_results{
    position: absolute;
    background-color: white;
    width: 80%;
    border: 1px solid #d7d7d7;
    border-top: none;
    z-index: 1;
    padding: 0;
    list-style: none;
    box-shadow: 0px 2px 3px #d7d7d7;
    margin-top: 0;

    li{
      border-bottom: 1px solid #d7d7d7;
      padding: .5rem 1rem;

      &:last-child{
        border: none;
      }

      &:hover{
        background-color: #F0F0F0;
      }
    }
  }
}
