/*doc
---
title: Book List
name: book-list
category: books
---
```html_example
    <ul class='book-list'>
      <li class='book-item'>
        <span class="title">Book Title</span>
        <span class="authors">Jane Doe</span>
      </li>
      <li class='book-item'>
        <span class="title">Book Title</span>
        <span class="authors">Jane Doe</span>
      </li>
    </ul>
```
*/


.book-list{
  list-style: none;
  padding: 0;

  .book-item{
    margin-top: .5rem;
  }

  .editing{
    .tags span.delete{
      cursor: pointer;
      width: 1rem;
      text-align: center;
    }
    .mark-as-read{

    }
  }

  .reviews{
    list-style: none;
    padding: 0;

    li{
      padding: 0;
    }
    .excerpt{
      height: 6.5rem;
      overflow: hidden;
      box-shadow: inset 0 -2px 4px rgb(250, 250, 250);
      padding: 1rem;
      background: white;
      transition: .5s;

      &:hover{
        height: 7.5rem;
      }
      &.reading{
        height: 100%;
      }
    }
  }
}
